<html>
  <head></head>
  <body>

    <hr/>
    <h3>{{event.source}}</h3>
    <div>{{event.date}}</div>
    <hr/>

    <div>
    <a href="javascript:history.back()">Back</a>
    <br/>
      <p style="padding-left: 15px;">
        <b>ID: </b>{{event.id}}
        <br/>
        <b>DATE: </b> {{event.date}}
        <br/>
        <b>CODE: </b> {{event.code}}
        <br/>
        <b>OUTPUT: </b>
        <br/>
        <code style=" background-color: #e3e3e3">
        {{event.output}}
        </code>
      </p>
    </div>
  </body>
</html>
